* {border: 0; padding: 0;}
section {margin:0 124px 0 120px;}
.row {margin:0;}
ul a.active {
    text-decoration: underline;
}
@font-face{

    font-family: Africa;
    src: url(../front/AfricOrnOne.ttf);
    font-weight: 100;


}
/* ID instead of a so more point that css bootstap */
#gewichtbootstrap:hover{
color: blue;
font-size: larger;
transition-duration: 700ms;
}

body {
    font-family: 'Adamina';font-size:  20;
}

#logo {
    font-family: Africa;
}
#fluss {
    background-image: url(../img/Fluss.JPG);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 80vh;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position:center;
    filter: blur(5px);
    transition-duration: 60s;
}
#fluss:hover {
    filter:blur(0px);
    transition-duration: 2s;
    transition-delay: 0s 5s;
}
footer {width: 100%;height: 300px;
    background-image: url(../img/Fluss.JPG);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 -350px;
    position: relative;
}
.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
  }
  
  .lnr-list {
    color: black;
    font-size: 40px;
  }

  textarea {
    resize: none;
    width: 400px;
    display: block;
    border:1px solid lightgray;


    }

    #croc {
        animation:move 20s infinite  ;
        height: 5%;
        position: absolute;
        bottom: 8px;
        left: 16px;
    }
    
    @keyframes move {

        0%  {transform:translateX(100px);}
        
        50% {transform:translateX(900px);}

        100% {transform:translateX(100px);}
        
    
        }